@charset "UTF-8";

/*--reset--*/
@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p,
span,
a,
li,
button,
input {
    font-family: 'Pathway Gothic One', sans-serif;
}

p {
    letter-spacing: 0.5px
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width:767px) {

    /*--slider start--*/

    #slider {
        width: 100%;
        height: 105vw;
        background-color: #261811;

        display: flex;
        justify-content: center;
    }

    #slider_bg_box {
        width: 100%;
        background-image: url("../img/003_slider_750.jpg");
        background-position: center;
        background-size: cover;

        display: flex;
    }

    #slider_text {
        width: 100%;
        height: 100%;
        color: #fff;

        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: flex-end;
        padding: 0px 3%;

    }

    #slider_text>h5 {
        font-size: 15px;

    }

    #slider_text>h1 {
        font-weight: bold;
    }

    #slider_text>button {
        background-color: #84734D;
        border: 2px solid #84734D;
        width: 100%;
        height: 45px;
        margin: 5% 0;
        text-decoration: none;
        color: #fff;
        font-size: 15px;
        font-weight: bold;
    }

    #slider_text>button:hover {
        cursor: pointer;
        border: 0em;
        background-color: rgba(255, 255, 255, 0.2);
        color: #fff;
        transition: 0.5s;
    }


    /*--main start--*/
    section {
        width: 100%;
        height: auto;
        margin: 0 auto;
        display: block;

    }

    /*--main_01 shipping / warranty / financing--*/
    #main_01_icon {
        width: 100%;
        height: auto;
        margin: 0 auto;

        display: flex;
        flex-flow: column;
        padding: 5% 3%;
    }

    .main_01_icon_box {
        width: 96%;
        height: 75%;
        background-color: #000;

        display: flex;
        flex-flow: column;
        justify-content: space-between;
        margin: 2%;
    }

    .main_01_icon_box_icon {
        width: 100%;
        height: 250px;
    }

    .main_01_icon_box_icon img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover
    }

    .main_01_icon_box_text {
        width: 100%;
        height: 100px;
        padding: 5%;
    }

    .main_01_icon_box_text h3 {
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .main_01_icon_box_text p {
        color: #fff;
        font-size: 15px;
        line-height: 40px;

    }

    /*--main_02 category w/ images--*/
    #main_02_categ {
        width: 100%;
        height: 210px;
        margin: 0 auto;

        display: flex;
        flex-flow: column;
        overflow: hidden;
    }

    #main_02_categ>h3 {
        color: #000;
        font-size: 22px;
        letter-spacing: 1px;
        font-weight: bold;
        width: 100%;
        height: auto;
        text-align: center;
    }

    #main_02_categ ul {
        width: 1008px;
        height: 40%;
        margin: 7% 0 0 0;

        display: flex;
        flex-flow: row;
        justify-content: space-around;

    }

    #main_02_categ ul li {
        width: 9%;
    }

    #main_02_categ ul li a {
        text-decoration: none;

        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

    #main_02_categ ul li a img {
        width: 47.74px;
        height: 71.61px;

        transform: scale(1);
        transition: 0.3s;
    }

    #main_02_categ ul li a img:hover {
        transform: scale(1.05);
        transition: 0.3s;
    }

    #main_02_categ ul li a span {
        width: 100%;
        font-size: 18px;
        text-align: center;
        color: #000;
        margin: 17% 0;
    }

    #main_02_categ ul li a span::after {
        content: "";
        display: inline-block;
        background-image: url("../img/018_right_icon.png");
        background-size: 15px 15px;
        width: 15px;
        height: 15px;
    }

    /*--main_03_promo--*/
    #main_03_promo {
        width: 100%;
        height: auto;
        margin: 0 auto;

    }

    /*--main_03_promo 1x3--*/
    .main_03_promo_1x3 {
        width: 100%;
        height: auto;

        display: flex;
        flex-flow: column;
        justify-content: space-between;
        padding: 0% 3%;
    }

    .main_03_promo_1x3_box {
        width: 96%;
        height: 415px;
        background-color: #000;

        display: flex;
        flex-flow: row wrap;
        margin: 2%;
    }

    .promo_1x3_img_box {
        width: 100%;
        height: 60%;
        overflow: hidden;
        position: relative;
    }

    .promo_1x3_img_box img {
        width: 100%;
        height: 100%;
        position: absolute;
        
        object-fit: cover;

    }

    .promo_1x3_text_box {
        width: 100%;
        height: 13%;

        display: flex;
        flex-flow: column;
        justify-content: flex-start;

        padding: 0 5%;
    }

    .promo_1x3_text_box h3 {
        color: #fff;
        font-size: 20px;
        letter-spacing: 1px;
        font-weight: bold;

    }

    .promo_1x3_text_box p {
        color: #fff;
        font-size: 15px;
        margin: 2% 0 0 0;

    }

    .main_03_promo_1x3_box button {
        background-color: #84734D;
        border: 2px solid #84734D;
        width: 90%;
        height: 43px;
        margin: 0 0 0 5%;
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: bold;
    }

    .main_03_promo_1x3_box button:hover {
        cursor: pointer;
        border: 0em;
        background-color: rgba(132, 155, 77, 0.4);
        color: #fff;
        transition: 0.5s
    }

    /*--main_03_promo 2x2--*/
    .main_03_promo_2x2 {
        width: 100%;
        height: auto;

        display: flex;
        flex-flow: column;
        justify-content: space-between;
        padding: 0% 3%;
    }

    .main_03_promo_2x2_box {
        width: 96%;
        height: 415px;
        background-color: #000;

        display: flex;
        flex-flow: column;

        margin: 2%;
    }

    .promo_2x2_img_box {
        width: 100%;
        height: 60%;
        overflow: hidden;
        position: relative;
    }

    .promo_2x2_img_box img {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;

    }

    .promo_2x2_text_box {
        width: 100%;
        height: 40%;

        display: flex;
        flex-flow: column;
        justify-content: space-around;
        padding: 3% 5%;

    }

    .promo_2x2_text_box h3 {
        color: #fff;
        font-size: 20px;
        letter-spacing: 1px;
        font-weight: bold;

    }

    .promo_2x2_text_box p {
        color: #fff;
        font-size: 15px;
        margin: 2% 0 0 0;

    }

    .promo_2x2_text_box button {
        background-color: #84734D;
        border: 2px solid #84734D;
        width: 100%;
        height: 42px;

        text-decoration: none;
        color: #fff;
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: bold;
    }

    .promo_2x2_text_box button:hover {
        cursor: pointer;
        border: 0em;
        background-color: rgba(132, 155, 77, 0.4);
        color: #fff;
        transition: 0.5s
    }

    /*--main_03-03 promo regular size 1 by 1 square, bg-color:#fff--*/

    .main_03_promo_1x2 {
        width: 100%;
        height: auto;

        display: flex;
        flex-flow: column;
        justify-content: space-between;
        padding: 0 3% 8% 3%;
    }

    .main_03_promo_1x2_box {
        width: 96%;
        height: 415px;
        border: 1px solid #000;
        border-image: linear-gradient(to bottom, #fff 40%, #000);
        border-image-slice: 1;

        display: flex;
        flex-flow: column;

        margin: 2%;
    }

    .promo_1x2_img_box {
        width: 100%;
        height: 60%;
        overflow: hidden;
        position: relative;
    }

    .promo_1x2_img_box img {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
    }

    .promo_1x2_text_box {
        width: 100%;
        height: 40%;

        display: flex;
        flex-flow: column;
        justify-content: space-around;
        padding: 3% 5%;
    }

    .promo_1x2_text_box h3 {
        color: #000;
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 30px;
        font-weight: bold;

    }

    .promo_1x2_text_box p {
        color: #000;
        font-size: 15px;
        margin: 2% 0 0 0;

    }

    .promo_1x2_text_box button {
        background-color: #000;
        border: 2px solid #000;
        width: 100%;
        height: 45px;
        margin: 2% 0 0 0;

        text-decoration: none;
        color: #fff;
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: bold;
    }

    .promo_1x2_text_box button:hover {
        cursor: pointer;
        border: 0em;
        background-color: rgba(0, 0, 0, 0.1);
        color: #000;
        transition: 0.5s
    }

    /*--main_04 brand family--*/
    #main_04_family {
        width: 100%;
        height: auto;
        background-color: #000;
        margin: 0 auto;

    }

    #main_04_family_wrap {
        width: 100%;
        height: auto;
        margin: 0 auto;

        display: flex;
        flex-flow: column;
        justify-content: space-between;
        padding: 0 3% 3% 3%;
    }

    #main_04_family_wrap h2 {
        color: #fff;
        font-size: 28px;
        letter-spacing: 1px;
        font-weight: bold;
        width: 100%;
        height: 17%;
        text-align: left;
        line-height: 60px;
        margin: 5% 0 0 0;


    }

    .main_04_family_1x3 {
        width: 100%;
        height: auto;

        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }

    .main_04_family_1x3_box {
        width: 96%;
        height: 415px;
        background-color: #fff;

        display: flex;
        flex-flow: row wrap;
        margin: 2%;
    }

    .family_1x3_img_box {
        width: 100%;
        height: 60%;
        overflow: hidden;
        position: relative;
    }

    .family_1x3_img_box img {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;

    }

    .family_1x3_text_box {
        width: 100%;
        height: 13%;

        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        padding: 0 5%;
    }

    .family_1x3_text_box>h3 {
        color: #000;
        font-size: 20px;
        letter-spacing: 1px;
        font-weight: bold;

    }

    .family_1x3_text_box p {
        color: #000;
        font-size: 15px;
        margin: 2% 0 0 0;
    }

    .main_04_family_1x3_box button {
        background-color: #000;
        border: 2px solid #000;
        width: 90%;
        height: 43px;
        margin: 0 0 0 5%;
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: bold;
    }

    .main_04_family_1x3_box button:hover {
        cursor: pointer;
        border: 0em;
        background-color: rgba(0, 0, 0, 0.1);
        color: #000;
        transition: 0.5s
    }

    /*--main_05 Gibson tv--*/
    #main_05_tv {
        width: 100%;
        height: auto;
        background-image: linear-gradient(90deg, #1e1e1e 0, #000 50%, #1e1e1e 100%);
        margin: 0 auto;

    }

    #main_05_tv_wrap {
        width: 100%;
        height: auto;
        margin: 0 auto;

        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        padding: 0 3%;
        overflow: hidden;
    }

    #main_05_tv_line {
        width: 90%;
        height: 11vh;

        display: flex;
        align-items: center;
        margin: 2%;
    }

    #main_05_tv_line a {
        width: 100%;
        height: 100%;
        text-decoration: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    #main_05_tv_line a img {
        width: 70px;
        height: auto;
    }

    #main_05_tv_line a h3 {
        color: #fff;
        font-size: 20px;
        letter-spacing: 1px;
        font-weight: bold;

        text-align: left;
        margin: 0 2%;
    }

    .main_05_tv_top {
        width: 96%;
        height: 27vh;
        margin: 2%;
    }

    .main_05_tv_top_img_box {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .main_05_tv_top_img_box a img {
        width: 100%;
        height: 100%;

        transform: scale(1);
        transition: 0.5s;
    }

    .main_05_tv_top_img_box a img:hover {
        transform: scale(1.05);
        transition: 0.5s;
    }

    .main_05_tv_top_text_box {
        width: 100%;
        height: 7vh;

        position: relative;
        left: 0;
        bottom: 7vh;

        display: flex;
        justify-content: space-between;
    }

    .main_05_tv_top_text_title {
        width: 70%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);

        display: flex;
        align-items: center;
    }

    .main_05_tv_top_text_title h4 {
        color: rgba(255, 255, 255, 1);
        font-size: 17px;
        letter-spacing: 1px;
        font-weight: bold;

        text-align: left;
        margin: 0 6%;
    }

    .main_05_tv_top_text_watch {
        width: 30%;
        height: 100%;
        background-color: #000;
        text-decoration: none;

        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .main_05_tv_top_text_watch span {
        width: 40px;
        height: 40px;
        background-color: #fff;
        border-radius: 50px;

        background-image: url("../img/033_play_icon.png");
        background-position: center;
        background-size: 40%;
        background-repeat: no-repeat;

        margin: 0 2vw;
    }

    .main_05_tv_top_text_watch h5 {
        color: #fff;
        font-size: 15px;
        letter-spacing: 1px;
        font-weight: bold;
    }

    .main_05_tv_bottom_wrap {
        width: 1260px;
        height: 20vh;

        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        margin: 2% 2% 8% 2%;
    }

    .main_05_tv_bottom {
        width: 23%;
        height: 100%;
        margin: 0 1% 0 0;
    }

    .main_05_tv_bottom_img_box {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .main_05_tv_bottom_img_box a img {
        width: 100%;
        height: 100%;

        transform: scale(1);
        transition: 0.5s;
    }

    .main_05_tv_bottom_img_box a img:hover {
        transform: scale(1.05);
        transition: 0.5s;
    }

    .main_05_tv_bottom_text_box {
        width: 100%;
        height: 28%;
        background-color: rgba(0, 0, 0, 0.7);
        text-decoration: none;

        position: relative;
        left: 0;
        bottom: 28%;

        display: flex;
        justify-content: space-between;
        padding: 1.5% 5%;
    }

    .main_05_tv_bottom_text_box h4 {
        width: 80%;
        height: 100%;
        color: rgba(255, 255, 255, 1);
        font-size: 15px;
        letter-spacing: 1px;
        font-weight: bold;

        text-align: left;
        line-height: 30px;
    }

    .main_05_tv_bottom_text_box span {
        width: 40px;
        height: 40px;
        background-color: #fff;
        border-radius: 50px;

        background-image: url("../img/033_play_icon.png");
        background-position: center;
        background-size: 40%;
        background-repeat: no-repeat;
    }

    /*--main_06 promo regular size 1 by 1 square, bg-color:#000--*/
    #main_06_promo {
        width: 100%;
        height: auto;
        margin: 0 auto;

        display: flex;
        flex-flow: column;
        justify-content: space-between;
        padding: 0 3% 8% 3%;
    }

    .main_06_promo_1x2_box {
        width: 96%;
        height: 470px;
        background-color: #000;

        display: flex;
        flex-flow: column;

        margin: 2%;
    }

    .main_06_promo_1x2_img_box {
        width: 100%;
        height: 55%;
        overflow: hidden;
        position: relative;
    }

    .main_06_promo_1x2_img_box img {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
    }

    .main_06_promo_1x2_text_box {
        width: 100%;
        height: 45%;

        display: flex;
        flex-flow: column;
        justify-content: space-around;
        padding: 3% 5%;
    }

    .main_06_promo_1x2_text_box h3 {
        color: #fff;
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 30px;
        font-weight: bold;
    }

    .main_06_promo_1x2_text_box p {
        color: #fff;
        font-size: 15px;
        margin: 2% 0 0 0;
    }

    .main_06_promo_1x2_detail {
        height: 100%;
    }

    .main_06_promo_1x2_detail p {
        color: #fff;
        font-size: 15px;
        margin: 2% 0 0 0;
    }

    .main_06_promo_1x2_detail ul {
        margin: 2% 0 0 15%;
    }

    .main_06_promo_1x2_detail ul li {
        color: #fff;
        font-size: 15px;
        margin: 2% 0 0 0;
        line-height: 13px;
        list-style-type: disc;
    }

    .main_06_promo_1x2_text_box button {
        background-color: #84734D;
        border: 2px solid #84734D;
        width: 100%;
        height: 45px;
        margin: 2% 0 0 0;

        text-decoration: none;
        color: #fff;
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: bold;
    }

    .main_06_promo_1x2_text_box button:hover {
        cursor: pointer;
        border: 0em;
        background-color: rgba(132, 155, 77, 0.4);
        color: #fff;
        transition: 0.5s
    }

    /*--main_07_camp--*/
    #main_07_camp {
        width: 100%;
        height: auto;
        background-color: #000;
        margin: 0 auto;

        display: flex;
        align-items: center;
    }

    #main_07_camp_wrap {
        width: 100%;
        height: auto;
        margin: 0 auto;

        display: flex;
        flex-flow: column-reverse;
        justify-content: space-between;
        align-items: center;
        padding: 8% 0;
    }

    .main_07_camp_img_box {
        width: 100%;
        height: 40%;
        margin: 1% 0 0 0;
    }

    .main_07_camp_img_box img {
        width: 100%;
        height: 100%;
    }

    .main_07_camp_content_box {
        width: 100%;
        height: 340px;
        background-color: #83734D;
        background-image: url("../img/057_camp_year.png");
        background-position: right;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position-y: 95%;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 8% 0 8%;
    }

    .main_07_camp_content_logo {
        width: 129px;
        height: 129px;
        box-shadow: 5px 3px 10px 3px #292828;
        z-index: 1000;
    }

    .main_07_camp_content {
        width: 42%;
        height: 57.5%;

        display: flex;
        flex-flow: column;
        justify-content: flex-end;
        align-items: center;
    }

    .main_07_camp_content p {
        width: 100%;
        height: 50%;

        color: #fff;
        font-size: 15px;
        margin: 4% 0 0 0;
        line-height: 20px;
    }

    .main_07_camp_content_btn {
        background-color: #84734D;
        border: 2px solid #84734D;
        width: 70%;
        height: 45px;

        text-decoration: none;
        color: #fff;
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: bold;
        padding: 7%;
        margin: 10% 0 0 0;
        text-align: center;
    }

    .main_07_camp_content_btn:hover {
        color: #000;
        transition: 0.5s;
    }

    /*--main_08_career--*/
    #main_08_career {
        width: 100%;
        height: auto;
        margin: 0 auto;

        display: flex;
        align-items: center;
        padding: 8% 3%;
    }

    #main_08_career_wrap {
        width: 96%;
        height: 415px;
        border: 1px solid #999;
        border-image: linear-gradient(to bottom, #fff 40%, #999);
        border-image-slice: 1;
        margin: 2%;

        display: flex;
        flex-flow: column;
    }

    .main_08_career_img_box {
        width: 100%;
        height: 60%;
        overflow: hidden;
        position: relative;
    }

    .main_08_career_img_box img {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
    }

    .main_08_career_content_box {
        width: 100%;
        height: 40%;

        display: flex;
        flex-flow: column;
        justify-content: space-around;
        padding: 3% 5%;
    }

    .main_08_career_content_box h3 {
        color: #000;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 1px;
        font-weight: bold;
    }

    .main_08_career_content_box p {
        color: #000;
        font-size: 15px;
        margin: 2% 0 0 0;
    }

    .main_08_career_content_box button {
        background-color: #000;
        border: 2px solid #000;
        width: 100%;
        height: 45px;
        margin: 2% 0 0 0;

        text-decoration: none;
        color: #fff;
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: bold;
    }

    .main_08_career_content_box button:hover {
        cursor: pointer;
        border: 0em;
        background-color: rgba(0, 0, 0, 0.1);
        color: #000;
        transition: 0.5s
    }

    /*--main_09_newsletter--*/
    #main_09_newsletter {
        width: 100%;
        height: auto;
        background-color: #F7F8FA;
        margin: 19px 0 0 0;

        display: flex;
        flex-flow: column;
        justify-content: center;
        align-content: flex-end;
    }

    #main_09_newsletter_wrap {
        width: 100%;
        height: 100%;

        display: flex;
        flex-flow: column;
    }

    .main_09_newsletter_text_box {
        width: 96%;
        height: auto;

        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        margin: 0 4%;

    }

    .main_09_newsletter_text_box h1 {
        color: #000;
        font-size: 35px;
        line-height: 30px;
        letter-spacing: 1px;
        font-weight: bold;
        margin: 8% 0 2% 0;
        width: 90%;
        height: auto;
    }

    .main_09_newsletter_text_box button {
        background-color: #000;
        border: 2px solid #000;
        width: 96%;
        height: 45px;
        margin: 1% 0 0 0;

        text-decoration: none;
        color: #fff;
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: bold;
    }

    .main_09_newsletter_text_box button:hover {
        cursor: pointer;
        border: 0em;
        background-color: rgba(0, 0, 0, 0.1);
        color: #000;
        transition: 0.5s
    }

    .main_09_newsletter_text_box p {
        color: #000;
        font-size: 13px;
        margin: 1% 0 0 0;
        line-height: 18px;
        width: 80%;
    }

    .main_09_newsletter_social_box {
        width: 100%;
        height: 120px;

        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;

    }

    .main_09_newsletter_social_box h5 {
        color: #000;
        font-size: 17px;
        line-height: 15px;
        letter-spacing: 1px;
        font-weight: bold;

        width: 90%;
        height: 13%;
        text-align: center;
        margin: 20px 0;
    }

    .main_09_newsletter_social_ul {
        width: 90%;
        height: 20%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main_09_newsletter_social_ul li {
        width: 43px;
        height: 43px;
        margin: 0 2%;
    }

    .main_09_newsletter_social_ul li a img {
        width: 100%;
        height: 100%;
        transition: 0.3s;
    }

    .main_09_newsletter_social_ul li a img:hover {
        opacity: 0.8;
        border-radius: 5px;
        transition: 0.3s;
    }

    /*--main end--*/

}