@charset "UTF-8";

@media screen and (max-width:767px) {
    /*--sub_slider--*/

    #slider {
        width: 100%;
        height: 300px;
        margin: 0 auto;
        background-image: url("../img/059_sub_slider.jpg");
        background-position: 50% 2%;
        background-size: cover;
        z-index: -500;
    }

    #slider_bg {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);

        display: flex;
        justify-content: center;

    }

    .slider_text_box {
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 80px;
    }

    .slider_text_box h1 {
        color: #fff;
        font-size: 40px;
        width: 100%;
    }

    .slider_text_box h3 {
        color: #fff;
        font-size: 25px;
        width: 100%;
    }

    /*--sub_main starts--*/

    section {
        width: 100%;
        height: auto;

        display: flex;
        justify-content: center;
    }

    #container {
        width: 100%;
        height: auto;

        display: flex;
        flex-flow: column;
    }

    /*--sub_main left --*/

    #main_left {
        width: 100%;
        height: auto;

        display: flex;
        flex-flow: column;
        align-items: center;
        margin: 7% 0 0 0;
    }

    /*--sub_main left article --*/

    .main_left_article {
        width: 95%;
        height: auto;
        background-color: #fff;
        margin: 0 0 10% 0;

        border: 1px solid #000;
        border-image: linear-gradient(to bottom, #fff 25%, #000);
        border-image-slice: 1;

        display: flex;
        flex-flow: column;
    }

    .main_left_article h3 {
        color: #000;
        font-size: 30px;
        letter-spacing: 1px;
        font-weight: bold;
        width: 100%;
        height: auto;
        text-align: left;
    }

    .main_left_article span {
        color: #333;
        font-size: 15px;
        letter-spacing: 1px;
        width: 100%;
        height: 4%;
        text-align: left;
        margin: 1% 0 0 0;
    }

    .main_left_img_box {
        width: 100%;
        height: auto;
        overflow: hidden;
        position: relative;
    }

    .main_left_img_box img {
        width: 100%;
        height: 100%;
    }

    .main_left_text_box {
        width: 100%;
        height: auto;

        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        padding: 2% 5% 5% 5%;
    }

    .main_left_text_box h5 {
        color: #000;
        font-size: 22px;
        letter-spacing: 1px;
        height: auto;
        font-weight: bold;
        margin: 1% 0;
    }

    .main_left_text_box p {
        color: #000;
        font-size: 17px;
        margin: 2% 0 0 0;
        line-height: 18px;
    }

    .article_link {
        text-decoration: none;
        color: #84734D;
    }

    .main_left_text_btn_box {
        width: 100%;
        height: auto;
        margin: 4% 0 0 0;

        display: flex;
        flex-flow: column;
    }

    .btn_readmore {
        background-color: #000;
        border: 2px solid #000;
        width: 100%;
        height: 33.75px;

        text-decoration: none;
        color: #fff;
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: bold;
    }

    .btn_readmore:hover {
        cursor: pointer;
        border: 0em;
        background-color: rgba(0, 0, 0, 0.1);
        color: #000;
        transition: 0.5s
    }

    .btn_categmore {
        background-color: #84734D;
        border: 2px solid #84734D;
        width: 100%;
        height: 45px;

        text-decoration: none;
        color: #fff;
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: bold;
        margin: 2% 0 0 0;
    }

    .btn_categmore:hover {
        cursor: pointer;
        border: 0em;
        background-color: rgba(132, 155, 77, 0.8);
        color: #fff;
        transition: 0.5s
    }

    /*--sub_main right --*/

    #main_right {
        width: 100%;
        height: auto;
        background-image: linear-gradient(180deg, #fff 0, #000 10%, #fff 100%);
        transition: 0.5s;
        padding: 3%;
    }

    /*--sub_main right 05 searchbar --*/

    #main_05_searchbar {
        width: 100%;
        height: 50px;
        background-color: #333;
        margin-bottom: 10%;
        display: flex;
    }

    #main_05_searchbar input {
        width: 85%;
        height: 100%;
        outline: none;
        padding: 3px 10px;
        font-size: 15px;
        color: #fff;
        letter-spacing: 1px;
        background-color: #333;
        border: 1px solid #333;
    }

    #main_05_searchbar button {
        width: 15%;
        height: 100%;
        background-color: #333;
        border: 1px solid #333;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    #main_05_searchbar button img {
        width: 28px;
        height: 28px;
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(255deg) brightness(156%) contrast(101%);
    }

    #main_05_searchbar button img:hover {
        opacity: 0.6;
        transition: 0.2s;
    }

    /*--sub_main right 06 aboutus --*/

    #main_06_aboutus {
        width: 100%;
        height: auto;
        margin-bottom: 10%;

        display: flex;
        flex-flow: column;
        justify-content: flex-start;
    }

    #main_06_aboutus h4 {
        color: #fff;
        font-size: 22px;
        letter-spacing: 1px;
        line-height: 20px;
        font-weight: bold;
        margin: 3% 0;
    }

    .main_06_aboutus_imgbox {
        width: 100%;
        height: 250px;
        overflow: hidden;
        position: relative;
        margin: 2% 0;
    }

    .main_06_aboutus_imgbox img {
        width: 100%;
        height: 200%;
        position: absolute;
        object-fit: cover;
    }

    #main_06_aboutus h5 {
        color: #fff;
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 20px;
        font-weight: bold;
        margin: 1% 0;
    }

    #main_06_aboutus span {
        color: #fff;
        font-size: 15px;
        letter-spacing: 1px;
        line-height: 20px;
        font-weight: bold;
    }

    #main_06_aboutus p {
        color: #fff;
        font-size: 17px;
        margin: 2% 0 0 0;
        line-height: 18px;
    }

    .btn_readmore_right {
        background-color: #84734D;
        border: 2px solid #84734D;
        width: 100%;
        height: 45px;

        text-decoration: none;
        color: #fff;
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: bold;
        margin: 5% 0 0 0;
    }

    .btn_readmore_right:hover {
        cursor: pointer;
        border: 0em;
        background-color: rgba(132, 155, 77, 0.4);
        color: #fff;
        transition: 0.5s;
    }

    /*--sub_main right 07 followus--*/

    #main_07_followus {
        width: 100%;
        height: auto;
        margin-bottom: 10%;

        display: flex;
        flex-flow: column;
        justify-content: flex-start;

    }

    #main_07_followus h4 {
        color: #fff;
        font-size: 22px;
        letter-spacing: 1px;
        line-height: 20px;
        font-weight: bold;
        margin: 3% 0;
    }

    .main_09_newsletter_social_ul {
        width: 100%;
        height: 20%;

        display: flex;
        justify-content: space-around;
        margin: 2% 0;
    }

    .main_09_newsletter_social_ul li {
        width: 45px;
        height: 45px;
        transition: 0.5s;

    }

    .main_09_newsletter_social_ul li a img {
        width: 100%;
        height: 100%;
        transition: 0.3s;
    }

    .main_09_newsletter_social_ul li a img:hover {
        opacity: 0.8;
        border-radius: 5px;
        transition: 0.3s;
    }

    /*--sub_main right 08 categ--*/

    #main_08_categ {
        width: 100%;
        height: auto;
        margin-bottom: 10%;
        background-color: #333;

        display: flex;
        flex-flow: column;
    }

    #main_08_categ h4 {
        color: #fff;
        font-size: 22px;
        letter-spacing: 1px;
        line-height: 20px;
        font-weight: bold;
        margin: 3% 0;
    }

    #main_08_categ ul {
        width: 100%;
        height: auto;
        margin: 2% 0;
    }

    #main_08_categ ul li {
        width: 98%;
        height: 50px;
        border-bottom: 2px solid #3B3B3B;
        transition: 0.3s;

        display: flex;
        align-items: center;
        margin: 0 1%;
    }

    #main_08_categ ul li:hover {
        transform: translateX(3%);
        transition: 0.5s;
    }

    #main_08_categ ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 17px;
        letter-spacing: 0.5px;
    }

    /*--sub_main right 09 dealer--*/

    #main_09_dealer {
        width: 100%;
        height: 487px;
        margin-bottom: 10%;
    }

    #main_09_dealer h4 {
        color: #fff;
        font-size: 22px;
        letter-spacing: 1px;
        line-height: 20px;
        font-weight: bold;
        margin: 3% 0 2% 0;
    }

    #main_09_dealer p {
        color: #fff;
        font-size: 17px;
        margin: 2% 0 0 0;
        line-height: 18px;
    }

    #main_09_dealer button {
        background-color: #84734D;
        border: 2px solid #84734D;
        width: 100%;
        height: 45px;

        text-decoration: none;
        color: #fff;
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: bold;
        margin: 5% 0 0 0;
    }

    #main_09_dealer button:hover {
        cursor: pointer;
        border: 0em;
        background-color: rgba(132, 155, 77, 0.4);
        color: #fff;
        transition: 0.5s;
    }

    /*--sub_main right 10 newsletter--*/

    #main_10_newsletter {
        width: 100%;
        height: auto;
        margin-bottom: 10%;
        display: flex;
        flex-flow: column;
    }

    #main_10_newsletter h4 {
        color: #fff;
        font-size: 22px;
        letter-spacing: 1px;
        line-height: 20px;
        font-weight: bold;
        margin: 2% 0 3% 0;
    }

    #main_10_newsletter_btnbox {
        width: 100%;
        height: 50px;
        background-color: #333;
        display: flex;
        margin: 1% 0;
    }

    #main_10_newsletter_btnbox input {
        width: 85%;
        height: 100%;
        outline: none;
        padding: 3px 10px;
        font-size: 15px;
        color: #fff;
        letter-spacing: 1px;
        background-color: #333;
        border: 1px solid #333;
    }

    #main_10_newsletter_btnbox button {
        width: 15%;
        height: 100%;
        background-color: #333;
        border: 1px solid #333;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    #main_10_newsletter_btnbox button img {
        width: 28px;
        height: 28px;
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(255deg) brightness(156%) contrast(101%);
    }

    #main_10_newsletter_btnbox button img:hover {
        opacity: 0.6;
        transition: 0.2s;
    }

    /*--sub_main right 11 instagram--*/

    #main_11_instagram {
        width: 100%;
        height: 720px;
        margin-bottom: 10%;

        display: flex;
        flex-flow: column;
    }

    #main_11_instagram h4 {
        color: #fff;
        font-size: 22px;
        letter-spacing: 1px;
        line-height: 20px;
        font-weight: bold;
        margin: 2% 0 3% 0;
    }

    #main_11_instagram_img_box {
        margin: 1% 0;
        width: 100%;
        height: 410px;

        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: space-between;
        align-items: center;
    }

    #main_11_instagram_img_box a {
        width: 48%;
        height: 55%;
        overflow: hidden;
        position: relative;

        display: flex;
        margin: 1%;
    }

    .main_11_instagram_bg {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
    }

    .insta_icon_hidden {
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        transition: 0.3s;
    }

    .insta_icon_hidden img {
        width: 20%;
        height: 20%;
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(255deg) brightness(156%) contrast(101%);
    }

    .insta_icon_hidden:hover {
        opacity: 0.5;
        transition: 0.5s;
    }

    /*--sub_main ends--*/
}